@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Josefin+Sans:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.teste {
    align-items: center;
    text-align: center;
   


}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to bottom, rgba(128, 128, 128, 0.568), black); */
    background: linear-gradient(to bottom, #ffd1b1, #f58634);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Início da estilização do menu */
.menu {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Menu de opções aparece (quando aberto)*/
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.navbar-toggler span {
    color: rgba(255, 166, 0, 0.507);
    font-size: 30px;
    pointer-events: none;
}

/* Em grandes telas, o botão de menu desaparece*/
[aria-controls="navbarDropdown"] {
    display: none;
}

/* Em grandes telas, menu horizontal*/
.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link a {
    text-transform: uppercase;
    color: white;
}

li {
    list-style: none;
}

li a:hover {
    background: linear-gradient(to left, transparent, orange);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 1200px) {
    .navbar-brand {
        margin-left: 7rem;
    }

    .nav-link {
        margin-right: 5rem;
    }

    .nav-link a {
        font-size: 1.2rem;
        padding: 10px;
    }

    .nav-link a:hover {
        border-radius: 0 0 10px 10px;
        background: linear-gradient(to bottom, transparent, rgba(255, 166, 0, 0.507));
    }
}

@media screen and (max-width: 1200px) {
    [aria-controls="navbarDropdown"] {
        display: block;
    }

    [aria-expanded="false"]~ul {
        display: none;
    }

    [aria-expanded="true"]~ul {
        display: block;
        position: absolute;
        right: 0;
        top: 69px;
        padding: 1rem;
        background: linear-gradient(to left, transparent, rgb(0, 0, 0));
        width: 100%;
        text-align: left;

    }

    [aria-expanded="true"]~ul li a {
        margin-right: 20px;
        color: white;
        font-size: 1.5rem;
    }
}

/* Fim da estilização do menu */



/* Início da estilização do carrossel */
.carro {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 60px;
    background: url(../imagens/capa/capaprincipal.png) center no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
}

.carro:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.slider {
    position: relative;
    z-index: 200;
    padding-top: 80px;
    margin: 5rem auto;
    max-width: 800px;
    width: 100%;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    line-height: 50px;
    margin-top: -25px;
    border: none;
    background: transparent;
    color: #fff;
    font-family: monospace;
    font-size: 5rem;
    z-index: 300;
    outline: none;
}

.slick-prev {
    left: -50px;
    text-align: left;
}

.slick-next {
    right: -50px;
    text-align: right;
}

.item.slick-slide {
    width: 400px;
    height: 400px !important;
    transition: transform .4s;
    position: relative;
}

.slick-slide:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .4s;
}

.item.slick-slide {
    transform: scale(0.7) translate(640px);
}

.item.slick-slide.slick-center+.slick-slide {
    transform: scale(0.8) translate(-250px);
    z-index: 10;
}

.item.slick-slide.slick-center+.slick-slide+.item.slick-slide {
    transform: scale(0.7) translate(-640px);
    z-index: 5;
}

.item.slick-slide.slick-active {
    transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
    transform: scale(1);
    z-index: 30;
}

.slick-center:after {
    opacity: 0;
}

/* Fim da estilização do carrossel */



/* Início da estilização do conteúdo*/
.limitador {
    max-width: 1000px;
    margin: auto;
    text-align: justify;
       
}

/* .limitador p {
    max-width: 1000px; 
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
   
} */

h3 {
    font-size: 1.5rem;
    padding: 15px;
}

#apr p {
    font-size: 1.2rem;
    margin-left: 15px;
    padding-bottom: 15px;
}

.c1 {
    text-align: left;
    /* background: linear-gradient(to right, rgb(128, 128, 128), transparent); */
    background: linear-gradient(to right, #bd5206, transparent);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
}

.c2 {
    text-align: right;
    /* background: linear-gradient(to left, gray, transparent); */
    background: linear-gradient(to left, #bd5206, transparent);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
}

.c2 ul {
    font-size: 1.2rem;
    margin-right: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.c3 {
    text-align: left;
    /* background: linear-gradient(to right, gray, transparent); */
    background: linear-gradient(to right, #bd5206, transparent);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
}

.c4 {
    text-align: right;
    /* background: linear-gradient(to left, gray, transparent); */
    background: linear-gradient(to left, #bd5206, transparent);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
}

.c4 p {
    font-size: 1.2rem;
    margin-right: 15px;
    padding-bottom: 15px;
}

#map {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.397);
}

/* Fim da estilização index*/



/*Início da estilização notícias*/
.noticias {
    margin-top: 4rem;
    text-align: justify;
    padding: 15px;
 }

.bnot {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}

.imgp img {
    width: 300px;
    border-radius: 10px;
}

.not {
    width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: left;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.not img {
    width: 80px;
    transition: 1s;
    cursor: pointer;
}

.not img:hover {
    filter: grayscale(0);
    transform: scale(1.4);
}

h4 {
    text-align: center;
    color: white;
    padding: 15px;
}

@media screen and (min-width: 500px) {
    .imgp img {
        width: 450px;
    }

    .not {
        width: 450px;
    }

    .not img {
        width: 150px;
    }
}

/* Fim da estilização notícias*/



/*Início da estilização contato*/
.conteudo {
    margin-top: 5rem;
    max-width: 700px;
    ;
}

.conteudo p {
    font-size: 1.2rem;
    padding: 10px;
}

form {
    font-size: 1.2rem;
    padding: 10px;
    background-color: rgb(255, 243, 225);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
}

#ne {
    padding: 15px;
}

#ne input {
    height: 2rem;
    width: 300px;
    border-radius: 5px;
}

#dat {
    padding: 15px;
}

#dat input {
    height: 2rem;
    max-width: 130px;
    border-radius: 5px;
}

#telefone {
    padding: 15px;
}

.tel input {
    height: 2rem;
    width: 300px;
    border-radius: 5px;
}

.sexo {
    padding: 15px;
}

.interesses {
    padding: 15px;
}

#formulario {
    padding: 20px;
}

#formulario input {
    height: 2rem;
    width: 300px;
    border-radius: 5px;
}

#formulario button {
    color: white;
    border-radius: 7px;
    background: linear-gradient(to top, rgba(255, 166, 0, 0.849), rgba(0, 0, 0, 0.836));
    width: 100px;
    height: 2rem;
    cursor: pointer;
}

input:hover {
    border: solid orange;
    transition: 0.3s;
}

select {
    height: 2rem;
    width: 300px;
    border-radius: 5px;
}

select:hover {
    border: solid orange;
    transition: 0.3s;
}

textarea:hover {
    border: solid orange;
}

/* Fim da estilização contato*/

footer {
    padding: 15px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;

}

footer img {
    margin-right: 10px;
}

.link {
    color: rgb(31, 30, 30);

}


.not-comunicados {
    width: auto;
    margin: auto;
    padding: 10px;
    text-align: left;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
    border-radius: 10px;

}

main {flex: 1; }
img { max-width: 100%;}


.button {
    background-color: #ffc773; 
    border: none;
    border-radius: 10px; 
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

h2 {
    margin-left: 10px;
}

h3 {
    margin-left: -16px;
}



.button-atualiza {
    background-color: #57d162; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}


.button-exclui {
    background-color: #f53333; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.button-insere {
    background-color: #5087ff; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}


.button-count {
    background-color: #f7aa1c; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid #ddd;
}


.button-outro {
    background-color: #f1ccaa; /* Green */
    border: none; 
    color: rgb(0, 0, 0);
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #faf0e2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f7aa1c;
    color: white;
}