

/* css interno  */

/* seletor universal da pagina - digitar asteristico */
/* Alterando o box model - width / height / padding / border para todos elementos da pagina */
*, *::after, *::before { box-sizing: border-box; }

/* Reset de elementos, padrão do navegador */
main, h1, h2, h3, p, header,  figure {
margin:0;
padding: 0;
}

html, body {background-color: cornsilk;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 25px;
      margin: 10px;
      padding: 10px;
      font-size: 16px;
}

hr {background-color: black;}

header {font-size: 1rem;
      font-weight: normal;
      text-align: center;
      line-height: 1.5rem;
      color:  black;
}

h1, h2 { font-size: 1rem;
      font-weight: normal;  
      text-align: left;
      line-height: 1.5rem;
}

footer {font-size: 1rem;
      font-weight: normal;
      text-align: center;
      line-height: 1.5rem;
      color: red;
}

/* media query (regra condicional) */

@media screen and (min-width: 1000px) {
      /* regras css, quando estiver acima da largura 1000px, alterar para: */

      html, body {background-color: cornsilk;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 30px;
      margin: 10px;
      padding: 10px;
      font-size: 20px;
}